@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.App{
  height:auto;
  width:100%;
}
.navbar{
  height:104px;
  width:100%;
  background: linear-gradient(to bottom,#B8DFE5E5 ,#FFFFFFCF );
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.navbar p{
width: 208px;
height: 35px;
font-family: "Outfit", serif;
font-size: 34px;
font-weight: 400;
letter-spacing: 0.02em;
}
.logo{
font-family: "Outfit", serif;  
font-size: 34px;
font-weight: 400;
line-height: 35px;
letter-spacing: 0.02em;
color:rgb(93, 206, 237)
}
ul{
  width:800px;
  height: 35px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-left:70px;
}
ul li{
list-style:none;
font-family: "Outfit", serif;  
font-size: 26px;
font-weight: 500;
line-height: 35px;
letter-spacing: 0.02em;
color:rgba(0, 0, 0, 1);

}
.mainbtn{
width: 151px;
height: 50px;
top: 27px;
border-radius: 12px;
background-color: rgba(11, 182, 220, 1);
font-family: "Outfit", serif;  
font-size: 25px;
font-weight: 400;
line-height: 35px;
letter-spacing: 0.02em;
color:white;
box-shadow:inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
border:none;
}
.page1{
width:100%;
height: 622px;
background-image:url(img1.png) ;
background-size:101% 630px;
display: flex;
  flex-direction: row;
  overflow: hidden;
  justify-content: space-between;

}
.johny{
width: 638px;
height:641px;
border-top-left-radius: 50%;
border-top-right-radius:50%;
background-color: rgba(188, 221, 226,0.4);
border-bottom-left-radius:50%;
border-bottom-right-radius:50%;
border:5px solid rgba(255, 255, 255, 1);
opacity:0.95px;
margin-top:11%;
box-shadow:inset 43.83px -43.83px 43.83px 0px rgba(143, 168, 172, 0.1) ; 
box-shadow:inset -43.83px 43.83px 43.83px 0px rgba(255, 255, 255, 0.1) ;
margin-right:-3%;
backdrop-filter: blur(7px);
}
.photo{
  background-image:url(img2.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 438px;
  height: 592px;
  margin-top:-17%;
  margin-left:12%;
  
}
.content{
width: 722px;
height: 382px;
border-radius: 40px;
opacity: 0.85;
background-color: rgba(217, 217, 217, 0.1);
background:inset 18.6px -18.6px 18.6px rgba(165, 165, 165, 0.1);
backdrop-filter: blur(11px);
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-evenly;
margin-top:10%;
margin-left:5%;
}
.head{
  font-family: "Outfit", serif;   
font-size: 22px;
font-weight: 500;
line-height: 33px;
letter-spacing: 0.1em;
}
.caregivers{
  color:white;
}
.para p{
font-family: "Outfit", serif;  
font-size: 18px;
font-weight: 500;
line-height: 35px;
letter-spacing: 0.1em;
text-align: center;
padding-right:7%;
padding-left:7%;
}
.proceedure{
width:100%;
height: 309px;
/* background: linear-gradient(to bottom,rgba(255, 255, 255, 0.81),rgba(97, 174, 185, 1)); */
background-color:rgba(97, 174, 185) ;
opacity:0.84;
backdrop-filter: blur(1px);
display: flex;
align-items: center;
justify-content: space-around;
z-index: 300;

}
.pchild{
width: 330px;
height: 189px;
background-color: white;
border-radius: 15px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
}
.logo1{
  position: absolute;
  margin-bottom:11%;
  background-image:url(take-note_7977631.png) ;
  background-size:78px 58px;
 
  background-repeat:no-repeat;
  width: 73px;
height: 77px;
border-radius: 50%;
background-color: white;

}
.pchild h1{
font-family: "Poppins", serif;
font-size: 26px;
font-weight: 500;
line-height: 39px;
letter-spacing: 0.03em;
z-index: 300;
margin-top:6%;

}
.pchild p{
font-family: "Poppins", serif; 
font-size: 20px;
font-weight: 400;
line-height: 30px;
padding-right:10%;
padding-left:10%;
text-align: center;
}
.logo2{
  position: absolute;
  margin-bottom:12%;
  background-image:url(group.png) ;
  background-size:68px 67px;
  padding-top:2%;
  background-repeat:no-repeat;
  width: 68px;
height: 67px;
border-radius: 50%;
background-color: white;

}
.logo3{
  position: absolute;
  margin-bottom:11%;
  background-image:url(clipboard_10774456.png);
  background-size:68px 53px;

  background-repeat:no-repeat;
  width: 68px;
height: 67px;
border-radius: 50%;
background-color: white;

}
@media screen and (max-width:435px) {
.navbar{
  height: 70px;
  padding: 0px 5px;
}
ul{
 display: none;
}
.mainbtn{
  width: auto;
  height: auto;
  top:auto;
  font-size: 16px;
  padding: 0px 8px;
  }
  .navbar p{
    width: auto;
    height:auto;
    font-size: 16px;
    }
    .logo{  
    font-size: 20px;
    font-weight: 400;
    line-height:normal;
    }
    .page1{
      width:100vw;
      height:auto;
      background-size: cover;
        flex-direction:column;
        overflow:visible;
      }
      .johny{
        order: 1;
        width: auto;
        display: contents;
      }
      .photo{
        margin-left: 0px;
        margin-top: 0px;
        width: 300px;
        height: 300px;
        background-size: cover;
        margin:auto;
        position: static;
      }
      .content{
        order: 2;
        width: auto;
        height: auto;
        margin-top:0px;
        margin-bottom:12px;
        padding: 10px;
      }
      .proceedure{
        margin-top: -10px;
        flex-direction: column;
        height: auto;
        gap: 20px;
        padding: 20px 0px;
      }
      .pchild{
        width: 80%;
      }
      .pchild h1{
        margin-top: 0px;
      }
      .pchild p{
        font-size: 16px;
        line-height: 22px;
      }
      .para p{
        font-size: 13px;
      }
      .logo1,.logo2,.logo3{
        position: relative;
        margin-bottom: 0px;
      }
}
  @media screen and (max-width:325px) {
  .mainbtn{
    font-size: 16px;
    padding: 0px 8px;
    }
  .photo{
        width: 230px;
    height: 230px; 
  }
}
