@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.App{
  height:auto;
  width:100%;
}
.navbar{
  height:104px;
  width:100%;
  background: linear-gradient(to bottom,#B8DFE5E5 ,#FFFFFFCF );
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.navbar p{
width: 208px;
height: 35px;
font-family: "Outfit", serif;
font-size: 34px;
font-weight: 400;
letter-spacing: 0.02em;
}
.logo{
font-family: "Outfit", serif;  
font-size: 34px;
font-weight: 400;
line-height: 35px;
letter-spacing: 0.02em;
color:rgb(93, 206, 237)
}
.navli{
  width:800px;
  height: 35px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-left:70px;
}
.navli li{
list-style:none;
font-family: "Outfit", serif;  
font-size: 26px;
font-weight: 500;
line-height: 35px;
letter-spacing: 0.02em;
color:rgba(0, 0, 0, 1);

}
.mainbtn{
width: 151px;
height: 50px;
top: 27px;
border-radius: 12px;
background-color: rgba(11, 182, 220, 1);
font-family: "Outfit", serif;  
font-size: 25px;
font-weight: 400;
line-height: 35px;
letter-spacing: 0.02em;
color:white;
box-shadow:inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
border:none;
}
.page1{
width:100%;
height: 622px;
background-image:url(tryimage.png) ;
background-size:cover;
background-repeat: no-repeat;
display: flex;
  flex-direction: row;
  overflow: hidden;
  justify-content: space-between;

}
.johny{
width: 638px;
height:641px;
border-top-left-radius: 50%;
border-top-right-radius:50%;
background-color: rgba(188, 221, 226,0.4);
border-bottom-left-radius:50%;
border-bottom-right-radius:50%;
border:5px solid rgba(255, 255, 255, 1);
opacity:0.95px;
margin-top:11%;
box-shadow:inset 43.83px -43.83px 43.83px 0px rgba(143, 168, 172, 0.1) ; 
box-shadow:inset -43.83px 43.83px 43.83px 0px rgba(255, 255, 255, 0.1) ;
margin-right:-3%;
backdrop-filter: blur(7px);
}
.photo{
  background-image:url(img2.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 438px;
  height: 592px;
  margin-top:-17%;
  margin-left:12%;
  
}
.content{
width: 722px;
height: 382px;
border-radius: 40px;
opacity: 0.85;
background-color: rgba(217, 217, 217, 0.1);
background:inset 18.6px -18.6px 18.6px rgba(165, 165, 165, 0.1);
backdrop-filter: blur(11px);
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-evenly;
margin-top:10%;
margin-left:5%;
}
.head{
  font-family: "Outfit", serif;   
font-size: 22px;
font-weight: 500;
line-height: 33px;
letter-spacing: 0.1em;
}
.caregivers{
  color:#37BAF1;
}
.para p{
font-family: "Outfit", serif;  
font-size: 18px;
font-weight: 500;
line-height: 35px;
letter-spacing: 0.1em;
text-align: center;
padding-right:7%;
padding-left:7%;
}
.proceedure{
width:100%;
height: 309px;
/* background: linear-gradient(to bottom,rgba(255, 255, 255, 0.81),rgba(97, 174, 185, 1)); */
background-color:rgba(97, 174, 185) ;
opacity:0.84;
backdrop-filter: blur(1px);
display: flex;
align-items: center;
justify-content: space-around;
z-index: 300;

}
.pchild{
width: 330px;
height: 189px;
background-color: white;
border-radius: 15px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
}
.logo1{
  position: absolute;
  margin-bottom:11%;
  background-image:url(take-note_7977631.png) ;
  background-size:78px 58px;
 
  background-repeat:no-repeat;
  width: 73px;
height: 77px;
border-radius: 50%;
background-color: white;

}
.pchild h1{
font-family: "Poppins", serif;
font-size: 26px;
font-weight: 500;
line-height: 39px;
letter-spacing: 0.03em;
z-index: 300;
margin-top:6%;

}
.pchild p{
font-family: "Poppins", serif; 
font-size: 20px;
font-weight: 400;
line-height: 30px;
padding-right:10%;
padding-left:10%;
text-align: center;
}
.logo2{
  position: absolute;
  margin-bottom:12%;
  background-image:url(group.png) ;
  background-size:68px 67px;
  padding-top:2%;
  background-repeat:no-repeat;
  width: 68px;
height: 67px;
border-radius: 50%;
background-color: white;

}
.logo3{
  position: absolute;
  margin-bottom:11%;
  background-image:url(clipboard_10774456.png);
  background-size:68px 53px;

  background-repeat:no-repeat;
  width: 68px;
height: 67px;
border-radius: 50%;
background-color: white;

}
@media screen and (max-width:1442px) {
   .navbar{
    width:100vw;
    height:104px;
   }
   .navli{
    width:auto;
    gap:3.5rem;
   }
    .navli li{
    font-size:1.5em;
   }
   .content{
 
    height:auto;
    padding:10px;
    flex-wrap: wrap;
    margin-bottom:20px;
   }
   .page1{
   gap:3.5rem;
   }
   .johny{
    height:80vh;
    width:40vw;
    margin-top:190px;
    margin-right:-50px;
   }
   .photo{
    height:75vh;
    width:30vw;
   }
   .procedure{
    flex-wrap: wrap;
   }
   .pchild{
    width:25vw;
   }
   
}
@media screen and (max-width:1365px) {
    .navli{
      margin-left:0px;
    }
    .navbar p{
      width:auto;
      font-size:28px;
    }
    .logo{
      width:auto;
      font-size:28px;
    }
    .navli li{
      font-size:1.2rem;
    }
    .navli{
      gap:2.5rem;
    }
    .mainbtn{
      width:120px;
      font-size:19px;
    }
    .logo1{
      
      margin-bottom:190px;
    }
    .logo2{
      
      margin-bottom:190px;
    }
    .logo3{
      
      margin-bottom:190px;
    }
}
@media screen and (max-width:1365px) {
  .johny {
    height: 72vh;
    width: 38vw;
    margin-top:243px;
    margin-right: -50px;
}
.photo{
  width:32vw;
  margin-left:3%;
}
}
@media screen and (max-width:1043px){
  .navli{
    gap:1.2rem;
  }
  .navbar p{
    width:auto;
    font-size:24px;
  }
  .logo{
    width:auto;
    font-size:24px;
  }
  .mainbtn{
    width:auto;
    font-size:15px;
    padding-right:0.5rem;
    padding-left:0.5rem;
  }
  .johny {
    height: 68vh;
    width: 49vw;
    margin-top: 243px;
    margin-right: -50px;
}
  .photo{
    width:35vw;
    margin-left:10px;
  }
}
@media screen and (max-width:916px){
  .photo {
    width: 36vw;
    margin-left: 5px;
}
.johny {
  height: 41vh;
  width: 56vw;
  margin-top: 358px;
  margin-right: -56px;
}
.pchild p{
  font-size:18px;
}
.logo3{
  background-size: 61px 47px;
  width: 61px;
    height: 61px;
}
.logo2{
  background-size: 61px 61px;
  width: 61px;
    height: 61px;
}
}

@media screen and (max-width:435px) {
.navbar{
  height: 70px;
  padding: 0px 5px;
}
.navli{
 display: none;
}
.mainbtn{
  width: auto;
  height: auto;
  top:auto;
  font-size: 16px;
  padding: 0px 8px;
  }
  .navbar p{
    width: auto;
    height:auto;
    font-size: 16px;
    }
    .logo{  
    font-size: 20px;
    font-weight: 400;
    line-height:normal;
    }
    .page1{
      width:100vw;
      height:auto;
      background-size: cover;
        flex-direction:column;
        overflow:visible;
        gap:0rem;
      }
      .johny{
        order: 1;
        width: auto;
        display: contents;
      }
      .photo{
        margin-left: 0px;
        margin-top: 0px;
        width: 300px;
        height: 300px;
        background-size: cover;
        margin:auto;
        position: static;
      }
      .content{
        order: 2;
        width: auto;
        height: auto;
        margin-top:0px;
        margin-bottom:12px;
        padding: 10px;
      }
      .proceedure{
        margin-top: -10px;
        flex-direction: column;
        height: auto;
        gap: 20px;
        padding: 20px 0px;
      }
      .pchild{
        width: 80%;
      }
      .pchild h1{
        margin-top: 0px;
      }
      .pchild p{
        font-size: 16px;
        line-height: 22px;
      }
      .para p{
        font-size: 13px;
      }
      .logo1,.logo2,.logo3{
        position: relative;
        margin-bottom: 0px;
      }
    }
  @media screen and (max-width:325px) {
  .mainbtn{
    font-size: 16px;
    padding: 0px 8px;
    }
  .photo{
        width: 230px;
    height: 230px; 
  }
}


/* page 2 display */

.page2{
  min-height:120vh;
  max-height:auto;
  width:100vw;
  background:linear-gradient(to top,rgba(255, 255, 255, 0.9),rgba(97, 174, 185));
  opacity:0.84;
  backdrop-filter: blur(1px);
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  flex-direction: column;

}
.caregiver{
  height:40vh;
  width:90vw;
  background-image:url(img3.png) ;
  background-size: cover;
  background-repeat: no-repeat;
  background:inset 18.6px -18.6px 18.6px rgba(165, 165, 165, 0.1);
  border-radius: 40px;
  padding:50px;
}
.head{
  font-family: "Poppins", serif;  
  font-size: 30px;
  font-weight: 600;
  line-height: 45px;
  letter-spacing: 0.02em;
}
.heada{
  position: relative;
  font-family: "Poppins", serif;  
  font-size:27px;
  font-weight: 600;
  line-height: 64px;
  letter-spacing: 0.02em;
  top:1vh;
}
.caregiver,.client,.services p{
  font-family: "Poppins", serif;    
font-size: 20px;
font-weight: 500;

letter-spacing: 0.02em;
}
.caregiverli{
  font-family: "Poppins", serif;    

font-weight: 500;

letter-spacing: 0.02em;
display: flex;
flex-direction: column;
align-items:flex-start;
}
.caregiverli li{
  line-height:27px;
  margin-left:5vw;
  margin-top:2vh;
  font-size:21px;
}
.app1,.app2{
width:9vw;

height:6vh;
border-radius: 12px;
background-color: rgba(11, 182, 220, 1);
color:white;
margin-left:70vw;
background:inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
border:none;
font-family: "Poppins", serif;    
font-size: 25px;
font-weight: 500;
line-height: 37.5px;
letter-spacing: 0.02em;

}
.client{
  height:40vh;
  width:90vw;
  background-image:url(img4.png) ;
  background-size: cover;
  background-repeat: no-repeat;
  background:inset 18.6px -18.6px 18.6px rgba(165, 165, 165, 0.1);
  border-radius: 40px;
  padding:50px;
}
.services{
  height:35vh;
  width:90vw;
  background-image:url(img5.png) ;
  background-size: 90vw 35vh;
  background-repeat: no-repeat;
  background:inset 18.6px -18.6px 18.6px rgba(165, 165, 165, 0.1);
  border-radius: 40px;
  padding:35px;
  line-height:31px;
}
@media screen and (max-width:435px) {
.page2{
  height:auto;
  width:100vw;
}
.caregiver,.client{
  height:45vh;
  padding:15px;
  background-size:90vw 45vh;
}
.caregiver,.client,.services p{
  font-size: 15px;
}
.caregiverli li{
 
    line-height: 21px;
    margin-left: 5vw;
    margin-top: 2vh;
    font-size: 16px;
}

.head{
  font-size:19px;
  line-height:30px;
}
.app1{
  width:21vw;
  height:5vh;
  font-size:17px;
  margin-left:30vw;
  margin-top:3vh;
}
.app2{
  width:21vw;
  height:5vh;
  font-size:17px;
  margin-left:30vw;
  margin-top:3vh;
}
.heada {
  position: relative;
  font-family: "Poppins", serif;
  font-size: 19px;
  font-weight: 600;
  line-height: 14px;
  letter-spacing: 0.02em;
  top: 0vh;
}
.services{
  height:43vh;
  background-size:90vw 43vh;
  padding:20px;
}
.page2{
  height:150vh;
}
}
@media screen and (max-width:355px) {
  .caregiver,.client{
   padding:10px;
   }
   .heada {
    font-size: 17px;
    line-height: 0px;
    letter-spacing: 0.02em;
    top: 0vh;
  }
.head {
  font-size: 17px;
  line-height: 30px;
}
.caregiver, .client, .services p {
  font-size: 13px;
}
.app2 {
  width: 16vw;
  font-size: 12px;
}
.app1 {
  width: 16vw;
  font-size: 12px;
}
.caregiverli li{
  font-size:13px;
}
}
@media screen and (max-width:311px){
  .head {
    font-size: 15px;
    line-height: 30px;
}
.services p {
  font-size: 12px;
}
.heada {
  font-size: 13px;
  
}
.services{
  height:50vh;
  background-size:90vw 50vh;
}
}

/* page3 css */
 .page3{
  min-height:120vh;
  max-height:auto;
  width:100vw;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: space-evenly;
  background:linear-gradient(to bottom,rgba(255, 255, 255, 0.9),rgba(97, 174, 185, 1));
} 
.parent1{
  height:auto;
  width:100vw;
  display:flex;
  align-items: center;
  justify-content: center;
 
}
.child1{
  width:40vw;
  height:570px;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  background-image:url(img6.png) ;
  background-size:40vw 570px;
  background-repeat: no-repeat;
  border-radius: 40px;
  box-shadow: inset 2px 2px 0px 0px;
  padding:2%;
 
}
.child2{
  width:40vw;
  height:570px;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  background-image:url(img7.png) ;
  background-size:40vw 570px;
  background-repeat: no-repeat;
  border-radius: 40px;
  box-shadow: inset 0px 2px 2px 0px;
  padding-left:3%;

}
.child1 h1{
font-family: "Poppins", serif;    
font-size: 36px;
font-weight: 600;
letter-spacing: 0.02em;
}
.child2 h1{
  font-family: "Poppins", serif;    
font-size: 36px;
font-weight: 600;
letter-spacing: 0.02em;

}
.child2 p{
  font-family: "Poppins", serif;   
font-size: 22px;
font-weight: 500;
letter-spacing: 0.02em;
}
.heading{
display:inline;
font-family: "Poppins", serif;     
font-size: 22px;
font-weight: 700;
letter-spacing: 0.02em;
}
.child1 p{
font-family: "Poppins", serif;   
font-size: 22px;
font-weight: 500;
letter-spacing: 0.02em;
}
.feedback{
  width:81vw;
  min-height:220px;
  max-height:300px;
  border-radius:40px;
  background-color: rgba(196, 196, 196, 0.28);
  box-shadow: 
   inset -18.6px 18.6px 18.6px rgba(255, 255, 255, 0.1),
   inset 18.6px -18.6px 18.6px rgba(165, 165, 165, 0.1); 
   display:flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
}
.policy{
  width:60%;
  display:flex;
  align-items: center;
  justify-content: space-between;

}
 .feedback .policy p{
font-family: "Poppins", serif;   
font-size: 20px;
font-weight: 400;
letter-spacing: 0.1em;
color:white;
padding-right:5%;
}
.email{
font-family: "Poppins", serif;    
font-size: 20px;
font-weight: 400;
letter-spacing: 0.02em;
color:black;
}
.feedback p{
font-family: "Poppins", serif;     
font-size: 20px;
font-weight: 400;
letter-spacing: 0.02em;
color:white;
}
.query{
font-family: "Poppins", serif;    
font-size: 23px;
font-weight: 600;
letter-spacing: 0.03em;
color:white;
}
input{
  width:290px;
  height:30px;
  background-color: white;
  border:none;
  font-size:85%;
  border-radius:10px;
  padding-left:8%;
  padding-right: 8%;
}
.sub{
 width:85px;
 height:30px;
 font-family: "Poppins", serif; 
font-size:85%;
font-weight: 500;
color:white;
background-color: black;
border-radius: 12px;
letter-spacing: 0.03em;

}
.inpsub{
  width:100%;
  height:100%;
  display: flex;
  align-items: center;
  justify-content: center;

}
@media screen and (max-width:700px){
  .child1 h1,.child2 h1{
    font-size: 26px;
  }
  .heading{
    font-size:20px;
  }
  .child1 p,.child2 p{
    font-size:18px;
  }
  .feedback .policy p {
    font-size: 17px;
    padding-right:0%;
  }
  .policy{
    width:90%;
  }
  

}
@media screen and (max-width:450px){
  .child1 h1,.child2 h1{
    font-size: 21px;
  }
  .heading{
    font-size:17px;
  }
  .child1 p,.child2 p{
    font-size:15px;
  }
  .feedback p,.email,.query{
    font-size: 17px;
  }
  input{
    width:140px;
    padding:0%;
  }
}
@media screen and (max-width:359px){
  .heading{
    font-size:15px;
  }
  .child1 p,.child2 p{
    font-size:13px;
  }
  .feedback p,.email,.query{
    font-size: 13px;
  }
  .feedback .policy p {
    font-size: 14px;
    
  }
}






