@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  /* list-style: none; */

}
a{
  text-decoration: none;
}
.App{
  height:auto;
  width:100vw;
}
.navbar{
  height:80px;
  width:100vw;
  background: linear-gradient(to bottom,#B8DFE5E5 ,#FFFFFFCF );
  display: flex;
  align-items: center;
  justify-content:space-evenly;
}
.navbar p{
width: 208px;
height: 35px;
font-family: "Outfit", serif;
font-size: 34px;
font-weight: 400;
letter-spacing: 0.02em;
}
.logo{
font-family: "Outfit", serif;  
font-size: 34px;
font-weight: 400;
line-height: 35px;
letter-spacing: 0.02em;
color:rgb(93, 206, 237)
}
.navli{
  width:800px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 10px;
  gap:3%;
}
.navli li{
list-style:none;
font-family: "Outfit", serif;  
font-size:clamp( 16px,1.7vw,40px);
font-weight: 500;
line-height: 15px;
letter-spacing: 0.02em;
color:rgba(0, 0, 0, 1);
}
.menu{
  display: none;
}
.togglemenu{
  position: absolute;
  top: 0px;
  left: 0;
  width: 100vw;
  height: 50vh;
  color:black;
  background-color:rgba(97, 174, 185,0.9) ;
  z-index: 1000;
  text-align: center;
  line-height: 50px;
  font-weight: 600;
  font-size: 28px;
  padding-top: 25px;
}
.closemenu{
  position: absolute;
  top: 30px;
  right: 30px;
  border: none;
  background: transparent;
}
.menuclose{
  display: none;
}
.mainbtn{
width: 151px;
height: 50px;
top: 27px;
border-radius: 12px;
background-color: rgba(11, 182, 220, 1);
font-family: "Outfit", serif;  
font-size: 25px;
font-weight: 400;
line-height: 35px;
letter-spacing: 0.02em;
color:white;
box-shadow:inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
border:none;
}
.page1{
width:100vw;
height: 622px;
background-image:url(tryimage.png) ;
background-size:cover;
background-repeat: no-repeat;
display: flex;
  flex-direction: row;
  overflow: hidden;
  justify-content: space-between;

}
.johny{
    width: 550px;
    height: 550px;
    margin-top: 230px;
border-top-left-radius: 50%;
border-top-right-radius:50%;
background-color: rgba(188, 221, 226,0.4);
border-bottom-left-radius:50%;
border-bottom-right-radius:50%;
border:5px solid rgba(255, 255, 255, 1);
opacity:0.95px;
box-shadow:inset 43.83px -43.83px 43.83px 0px rgba(143, 168, 172, 0.1) ; 
box-shadow:inset -43.83px 43.83px 43.83px 0px rgba(255, 255, 255, 0.1) ;
margin-right:-3%;
backdrop-filter: blur(7px);
}
.photo{
  background-image:url(img2.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 100%;
  height: 100%;
  margin-top: -22%;
  margin-left: 10%;
  
}
.content{
width: 50%;
height: 82%;
border-radius: 40px;
opacity: 0.85;
background-color: rgba(217, 217, 217, 0.1);
background:inset 18.6px -18.6px 18.6px rgba(165, 165, 165, 0.1);
backdrop-filter: blur(11px);
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-evenly;
margin: 4% 4%;
}
.head{
  font-family: "Outfit", serif;   
font-size: 22px;
font-weight: 500;
line-height: 33px;
letter-spacing: 0.1em;
}
.caregivers{
  color:#37BAF1;
}
/* p{
  text-align: center;
} */
.para p{
font-family: "Outfit", serif;  
font-size: 18px;
font-weight: 500;
line-height: 35px;
letter-spacing: 0.1em;
/* text-align: center; */
padding-right:7%;
padding-left:7%;
}
.proceedure{
width:100%;
height: 309px;
background-color:rgba(97, 174, 185) ;
opacity:0.84;
backdrop-filter: blur(1px);
display: flex;
align-items: center;
justify-content: space-around;
z-index: 300;
gap: 10px;
padding: 0px 10px;

}
.pchild{
width: 330px;
height: 189px;
background-color: white;
border-radius: 15px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
}
.logo1{
  position: absolute;
  margin-bottom:11em;
  background-image:url(take-note_7977631.png) ;
  background-size:78px 58px;
 
  background-repeat:no-repeat;
  width: 73px;
height: 77px;
border-radius: 50%;
background-color: white;

}
.pchild h1{
font-family: "Poppins", serif;
font-size: 26px;
font-weight: 500;
line-height: 39px;
letter-spacing: 0.03em;
z-index: 300;
margin-top:6%;

}
.pchild p{
font-family: "Poppins", serif; 
font-size: 20px;
font-weight: 400;
line-height: 30px;
padding-right:10%;
padding-left:10%;
text-align: center;
}
.logo2{
  position: absolute;
  margin-bottom:12em;
  background-image:url(group.png) ;
  background-size:68px 67px;
  padding-top:2%;
  background-repeat:no-repeat;
  width: 68px;
height: 67px;
border-radius: 50%;
background-color: white;

}
.logo3{
  position: absolute;
  margin-bottom:11em;
  background-image:url(clipboard_10774456.png);
  background-size:68px 53px;

  background-repeat:no-repeat;
  width: 68px;
height: 67px;
border-radius: 50%;
background-color: white;

}

.page2{
  min-height:120vh;
  max-height:auto;
  width:100vw;
  background:linear-gradient(to top,rgba(255, 255, 255, 0.9),rgba(97, 174, 185));
  opacity:0.84;
  backdrop-filter: blur(1px);
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  flex-direction: column;
}
.caregiver{
  min-height:40%;
  width:90vw;
  background-image:url(img3.png) ;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background:inset 18.6px -18.6px 18.6px rgba(165, 165, 165, 0.1);
  border-radius: 40px;
  padding:50px;
 
}
.head{
  font-family: "Poppins", serif;  
  font-size: 30px;
  font-weight: 600;
  line-height: 45px;
  letter-spacing: 0.02em;
}
.heada{
  position: relative;
  font-family: "Poppins", serif;  
  font-size:27px;
  font-weight: 600;
  line-height: 64px;
  letter-spacing: 0.02em;
  top:1vh;
}
.caregiver,.client,.services p{
  font-family: "Poppins", serif;    
font-size: 20px;
font-weight: 500;
letter-spacing: 0.02em;
margin-bottom: 20px;
}
.caregiverli{
  font-family: "Poppins", serif;    
font-weight: 500;
letter-spacing: 0.02em;
display: flex;
flex-direction: column;
align-items:flex-start;
}
.caregiverli li{
  line-height:27px;
  margin-left:5vw;
  margin-top:2vh;
  font-size:21px;
}
.app1,.app2{
width:110px;
height:50px;
border-radius: 12px;
background-color: rgba(11, 182, 220, 1);
color:white;
margin-left:85%;
background:inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
border:none;
font-family: "Poppins", serif;    
font-size: 25px;
font-weight: 500;
line-height: 37.5px;
letter-spacing: 0.02em;
margin-bottom: 10px;
}
.client{
  min-height:40%;
  width:90vw;
  background-image:url(img4.png) ;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background:inset 18.6px -18.6px 18.6px rgba(165, 165, 165, 0.1);
  border-radius: 40px;
  padding:50px;
  
}
.services{
  min-height:40%;
  width:90vw;
  background-image:url(img5.png) ;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background:inset 18.6px -18.6px 18.6px rgba(165, 165, 165, 0.1);
  border-radius: 40px;
  padding:35px;
  line-height:31px;
  
}
 
@media screen and (max-width:770px){
  .remove{
    display: none;
  }
  .menu{
    display: block;
  }
  .caregiver,.client,.services{
    padding: 25px;
    
  }
  p{
    font-size: 15px;
  }
  .heada{
    line-height: 35px;
  }
  .page1{
    width:100vw;
    height:auto;
    background-size: cover;
      flex-direction:column;
      overflow:visible;
      gap:0rem;
    }
    .johny{
      order: 1;
      width: auto;
      display: contents;
    }
    .content{
      order: 2;
      width: auto;
      height: auto;
      margin-top:0px;
      margin-bottom:12px;
      padding: 10px;
    }
    .proceedure{
      margin-top: -10px;
      flex-direction: column;
      height: auto;
      gap: 20px;
      padding: 20px 0px;
    }
    .pchild{
      width: 48%;
    }
    .pchild h1{
      margin-top: 0px;
    }
    .pchild p{
      font-size: 16px;
      line-height: 22px;
    }
    .para p{
      font-size: 18px;
    }
    .head p{
      font-size: 25px;
    }
    .photo{
      margin-left: 0px;
      margin-top: 0px;
      width: 400px;
      height: 400px;
      background-size: cover;
      margin:auto;
      position: static;
    }
    .logo1,.logo2,.logo3{
      position: relative;
      margin-bottom: 0px;
    }
  
    .app1,.app2{
      margin-left: 75%;
    }
  }
@media screen and (max-width:435px) {

   .page1{
     width:100vw;
     height:auto;
     background-size: cover;
       flex-direction:column;
       overflow:visible;
       gap:0rem;
     }
     .johny{
       order: 1;
       width: auto;
       display: contents;
     }
     .photo{
       margin-left: 0px;
       margin-top: 0px;
       width: 300px;
       height: 300px;
       background-size: cover;
       margin:auto;
       position: static;
     }
     .content{
       order: 2;
       width: auto;
       height: auto;
       margin-top:0px;
       margin-bottom:12px;
       padding: 10px;
     }
     .proceedure{
       margin-top: -10px;
       flex-direction: column;
       height: auto;
       gap: 20px;
       padding: 20px 0px;
     }
     .pchild{
       width: 80%;
     }
     .pchild h1{
       margin-top: 0px;
     }
     .pchild p{
       font-size: 16px;
       line-height: 22px;
     }
     .para p{
       font-size: 13px;
     }
     .logo1,.logo2,.logo3{
       position: relative;
       margin-bottom: 0px;
     }
   }
   @media screen and (max-width:580px){
    .navbar{
      height: 70px;
      padding: 0px 5px;
     }
     .navli{
     display: none;
     }
     .mainbtn{
      width: auto;
      height: auto;
      top:auto;
      font-size: 16px;
      padding: 0px 8px;
      }
      .navbar p{
        width: auto;
        height:auto;
        font-size: 16px;
        }
        .logo{  
        font-size: 20px;
        font-weight: 400;
        line-height:normal;
        }
  }
 @media screen and (max-width:325px) {
 .mainbtn{
   font-size: 16px;
   padding: 0px 8px;
   }
 .photo{
       width: 230px;
   height: 230px; 
 }
}
@media screen and (max-width:435px) {
.page2{
  height:auto;
}
.caregiver,.client{
  padding:15px;
}
.caregiver,.client,.services p{
  font-size: 15px;
}
.caregiverli li{
 
    line-height: 21px;
    margin-left: 5vw;
    margin-top: 2vh;
    font-size: 16px;
}
.head{
  font-size:19px;
  line-height:30px;
}
.app1{
  width:100px;
  height:50px;
  font-size:17px;
  margin-top:3vh;
}
.app1,.app2{
  margin-left: 40%;
}
.app2{
  width:100px;
  height:50px;
  font-size:17px;
  margin-top:3vh;
}
.heada {
  font-family: "Poppins", serif;
  font-size: 19px;
  font-weight: 600;
  line-height: 14px;
  letter-spacing: 0.02em;
}
.services{
  padding:20px;
}
}
@media screen and (max-width:355px) {
  .caregiver,.client{
   padding:10px;
   }
   .heada {
    font-size: 17px;
    line-height: 0px;
    letter-spacing: 0.02em;
    top: 0vh;
  }
  h1{
    text-align: center;
  }
  .app1,.app2{
    margin-left: 30%;
  }
.head {
  font-size: 17px;
  line-height: 30px;
}
.caregiver, .client, .services p {
  font-size: 13px;
}

.caregiverli li{
  font-size:13px;
}
}
@media screen and (max-width:311px){
  .head {
    font-size: 15px;
    line-height: 30px;
}
.pchild{
  width: 50%;
}
.services p {
  font-size: 12px;
}
.heada {
  font-size: 13px;
}
}

.menu{
  border: none;
  background: transparent;
  margin-right: 1%;
}

/* page3 css */
.page3{

  min-height:120vh;
  max-height:auto;
  width:100vw;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: space-evenly;
  background:linear-gradient(to bottom,rgba(255, 255, 255, 0.9),rgba(97, 174, 185, 1));
} 
.parent1{
  height:auto;
  width:100vw;
  display:flex;
  align-items: center;
  justify-content: center;
 
}
.child1{
  width:40vw;
  height:570px;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  background-image:url(img6.png) ;
  background-size:40vw 570px;
  background-repeat: no-repeat;
  border-radius: 40px;
  box-shadow: inset 2px 2px 0px 0px;
  padding:2%;
 
}
.child2{
  width:40vw;
  height:570px;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  background-image:url(img7.png) ;
  background-size:40vw 570px;
  background-repeat: no-repeat;
  border-radius: 40px;
  box-shadow: inset 0px 2px 2px 0px;
  padding-left:3%;

}
.child1 h1{
font-family: "Poppins", serif;    
font-size: 36px;
font-weight: 600;
letter-spacing: 0.02em;
}
.child2 h1{
  font-family: "Poppins", serif;    
font-size: 36px;
font-weight: 600;
letter-spacing: 0.02em;

}
.child2 p{
  font-family: "Poppins", serif;   
font-size: 22px;
font-weight: 500;
letter-spacing: 0.02em;
}
.heading{
display:inline;
font-family: "Poppins", serif;     
font-size: 22px;
font-weight: 700;
letter-spacing: 0.02em;
}
.child1 p{
font-family: "Poppins", serif;   
font-size: 22px;
font-weight: 500;
letter-spacing: 0.02em;
}
.feedback{
  width:81vw;
  min-height:220px;
  max-height:300px;
  border-radius:40px;
  background-color: rgba(196, 196, 196, 0.28);
  /* box-shadow: 
   inset -18.6px 18.6px 18.6px rgba(255, 255, 255, 0.1),
   inset 18.6px -18.6px 18.6px rgba(165, 165, 165, 0.1);  */
   display:flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   box-shadow: inset 2px 2px 2px 0px,
  inset -2px -2px 2px 0px;
}
.policy{
  width:60%;
  display:flex;
  align-items: center;
  justify-content: space-between;

}
 .feedback .policy p{
font-family: "Poppins", serif;   
font-size: 20px;
font-weight: 400;
letter-spacing: 0.1em;
color:white;
padding-right:5%;
}
.email{
font-family: "Poppins", serif;    
font-size: 20px;
font-weight: 400;
letter-spacing: 0.02em;
color:black;
}
.feedback p{
font-family: "Poppins", serif;     
font-size: 20px;
font-weight: 400;
letter-spacing: 0.02em;
color:white;
}
.query{
font-family: "Poppins", serif;    
font-size: 23px;
font-weight: 600;
letter-spacing: 0.03em;
color:white;
}
input{
  width:290px;
  height:30px;
  background-color: white;
  border:none;
  font-size:85%;
  border-radius:10px;
  padding-left:8%;
  padding-right: 4%;
}
.sub{
 width:85px;
 height:30px;
 font-family: "Poppins", serif; 
font-size:85%;
font-weight: 500;
color:white;
background-color: black;
border-radius: 12px;
letter-spacing: 0.03em;

}
.inpsub{
  width:100%;
  height:100%;
  gap:3px;
  display: flex;
  align-items: center;
  justify-content: center;

}
@media screen and (max-width:700px){
  .child1 h1,.child2 h1{
    font-size: 26px;
  }
  .heading{
    font-size:20px;
  }
  .child1 p,.child2 p{
    font-size:18px;
  }
  .feedback .policy p {
    font-size: 17px;
    padding-right:0%;
  }
  .policy{
    width:90%;
  }
  

}
@media screen and (max-width:450px){
  .child1 h1,.child2 h1{
    font-size: 21px;
  }
  .heading{
    font-size:17px;
  }
  .child1 p,.child2 p{
    font-size:15px;
  }
  .feedback p,.email,.query{
    font-size: 17px;
  }
  input{
    width:140px;
    padding:0%;
  }
}
@media screen and (max-width:359px){
  .heading{
    font-size:15px;
  }
  .child1 p,.child2 p{
    font-size:13px;
  }
  .feedback p,.email,.query{
    font-size: 13px;
  }
  .feedback .policy p {
    font-size: 14px;
    
  }
}


/* page4 css */
.page4{
  min-height:80vh;
  max-height: auto;
  width:100vw;
  background:linear-gradient(to top, rgba(159, 209, 222, 0.6), rgba(97, 174, 185, 1));
  display:flex;
  align-items:center;
  justify-content:space-around;
  padding:10px;
}
.img{
  width:45%;
  height:594px;
  /* background-color: rgba(132, 189, 198, 1); */
  opacity:95%;
}
.img img{
  width:100%;
  height:100%;
}
.faq{
  width:50%;
  min-height:520px;
  min-height:auto;
  background-color: rgb(129, 209, 222);
  box-shadow: inset 2px 2px 4px 1px,
  inset -2px -2px 4px 1px;
  border-radius:50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  overflow:hidden;
  padding:5px 5px 20px 5px;
  
}
.faq h5{
font-family: "Inter", serif;
font-size: 39px;
font-weight: 600;
text-align: center;
text-decoration: underline;
text-underline-offset: 10px;
color:black;

}
.questions{
    min-height:400px;
    width:90%;
    background-color: rgba(217, 217, 217, 1);
    margin-top:30px;
    border-radius:12px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    padding:5px 5px 20px 5px;
}
.answer{
  display:flex;
  align-items: center;
  margin-top:20px;
  justify-content: space-around;
  border-radius: 16px;
  width:90%;
  background-color: rgba(149, 215, 225, 1);
  min-height:40px;
  padding: 2px 2px 2px 10px;
  
}
.mainq{
font-family: "Inter", serif; 
font-size: 24px;
width:100%;
font-weight: 600;
color:(0, 0, 0, 1);
}
.vector{
  height:35px;
  width:8%;
  border-radius: 50%;
  background-color: #37BAF1;
  display:flex;
  align-items: center;
  padding-left:1.5%;
  opacity:77%;
  
}
.faq .questions img{
  height:50%;
  width:70%;
  
}
.whole{
  height:auto;
  width:100%;
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
}
.text{
  display:none;
}
 .whole .settext ,.settext1,.settext2,.settext3,.settext4 {
  height:auto;
   width:90%; 
   background-color:white;
   margin-top:0%;
   border-radius:12px;
   font-family: "Inter", serif; 
   font-size: 20px;
   font-weight: 600;
   padding:5px;

}
.phot{
  width:35px;
  height:45px;
}
.faqhead img{
  width:100%;
  height:100%;
}

.faqhead{
  height:auto;
  display:flex;
  align-items: center;
  justify-content:center;
  width:90%;
  margin-top:10px;
}
 /* page4 media queries */

@media screen and (max-width:700px){
  .faq h5{
    font-size:32px;
  }
  .mainq{
    font-size:22px;
  }
  .whole .settext, .settext1, .settext2, .settext3, .settext4{
    font-size:15px;
  }
 
}
@media screen and (max-width:650px){
  .img{
    height:60%
  }
   .img img{
    height:100%;
  } 
   .page4{
    flex-direction: column;
    justify-content: center;
   }
  .faq{
    width:90%;
   
  }
  .mainq{
    font-size:15px;
  }
  .faq h5{
    font-size:22px;
    text-decoration: underline;
  }

}
@media screen and (max-width:450px){
.faq h5{
  font-size:20px;
  text-decoration: none;
}
.mainq{
  font-size:12px;
}
.whole .settext, .settext1, .settext2, .settext3, .settext4{
  font-size:11px;
}
}


/* page5 css */
.page5{
  min-height:80vh;
  width:100vw;
  background-image:url(img9.png) ;
  background-size:100% 100%;
  display:flex;
 padding-left:50px;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom:20px;
  
}
.page5 h3{
font-family: "Poppins", serif;      
font-size: 48px;
font-weight: 600;

text-decoration-line: underline;

}
.articles{
  min-height:170px;
  width:70%;
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  
}
.suggest{
  min-height:62px;
  width:100%;
  background-color: rgba(149, 215, 225, 1);
  opacity: 90%;
  border-radius:16px;
  font-family: "Poppins", serif;    
font-size: 24px;
font-weight: 700;
color:rgba(0,0,0,1);
padding:10px 10px 10px 30px;
}
.pull{
  min-height:120px;
  width:100%;
  background-color: rgba(149, 184, 189, 1);
  border-radius:16px;
  font-family: "Poppins", serif;    
font-size: 20px;
font-weight:500;
padding:10px 10px 10px 30px;


}
@media screen and (max-width:700px){
  .articles{
    width:90%
  }
  .page5 h3{
    font-size:40px;
    text-align: center;
  }
}
@media screen and (max-width:450px){
  .page5 h3{
    font-size:32px;
  }
  .suggest{
    font-size:17px;
  }
  .pull{
    font-size:15px;
  }
}



